.solarFade {
  margin-right: 1em;
  opacity: 0;
  animation: solarFade 1.4s;
}

.lunarFade {
  margin-right: 1em;
  opacity: 0;
  animation: lunarFade 1.5s;
  color: rgb(255, 235, 10);
}

@keyframes solarFade {
  5% {
    opacity: 1;
  }
}

@keyframes lunarFade {
  5% {
    opacity: 1;
  }
}
