/* Override degen colors */
:root {
  --colors-foregroundSecondary: rgba(0, 132, 255, 0.1) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--colors-backgroundSecondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
