@import url("https://rsms.me/inter/inter.css");

/* Override degen colors */
:root {
  /* --colors-foregroundSecondary: rgba(0, 132, 255, 0.1) !important; */
  --colors-foregroundTertiary: rgba(0, 0, 0, 0.1) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--colors-backgroundSecondary);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a.external-link {
  /* color: ; */
  text-decoration: none;
}
a:hover.external-link {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.select {
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  width: 200px;
  border-color: rgba(0, 132, 255, 0.1);
  background-color: rgba(200, 200, 200, 0.5);
}

.select-options {
  font-size: 18px;
}
